/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 13px;
}

.slider.round:before {
    border-radius: 50%;
}
.jsValidate {
    display: block;
    padding-left: 0px;
    color: red;
}

.help-block {
    font-size: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
   font-size: 10px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 10px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-size: 10px;
}
:-moz-placeholder { /* Firefox 18- */
    font-size: 10px;
}

.jsQuestionBox {
    margin-top: 30px;
}

/* fly button */
.fly-button{
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 80px;
    position: relative;
    width: 80px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

/*.fly-button:after{*/
    /*color:#e9e6e4;*/
    /*content: "";*/
    /*display: block;*/
    /*font-size: 30px;*/
    /*height: 30px;*/
    /*text-decoration: none;*/
    /*text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;*/
    /*position: absolute;*/
    /*width: 30px;*/
/*}*/

.fly-button:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.fly-button:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.fly-button:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}