img.img-datatable {
    width: 80px !important;
    margin: 0px auto;
    display: block;
    height: 37px;
}
#survey-table tr td:not(.tbl-image_path):not(.tbl-control) {
    padding-top: 15px !important;
}

#survey-table tr td:not(.tbl-name) {
    text-align: center;
}

#survey-table td.tbl-control {
    text-align: unset !important;
}

#download-page-table_wrapper {
    display: block;
    overflow-x: auto;
}
table#download-page-table th {
    white-space: nowrap;
}

#download-table tr td:not(.tbl-name) {
    text-align: center;
}

#download-table tr td:not(.tbl-image_path):not(.tbl-control) {
    padding-top: 15px !important;
}

a.jsLogout:hover {
     background: #4f9ecc;
 }

 .jsbtn-controll {
     padding: 2px 6px;
 }

 .row-deleted {
     background-color: #e0e0e0 !important;
 }

 .jsbtn-disabled {
     cursor: not-allowed;
     opacity: 0.3 !important;
 }

span.go-to-bottom {
    font-size: 43px;
    opacity: 0.3;
    display: block;
}

span.go-to-bottom:hover {
    opacity: 1;
}